<div class="container">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">General Information</h1>
    </div>
    <div class="modal-body">
      <form role="form" [formGroup]="formDetail" (ngSubmit)="edit()">
        <div [ngClass]="{'view': view}" class="col-md-12 row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Name of team</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="text" class="form-control input-lg" name="name" formControlName="name">
                <span
                  *ngIf="formDetail.controls.name.hasError('required')&&(formDetail.controls['name'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Area</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formDetail.controls['area'].value" [title]="'Area'"
                  [selectedIndex]="selectedIndex" [options]="listArea"
                  (selectedOption)="handleDownSelect($event, 'area')"></app-select-dropdown>
                <span
                  *ngIf="formDetail.controls.area.hasError('required')&&(formDetail.controls['area'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Level</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formDetail.controls['level'].value" [title]="'Level'"
                  [selectedIndex]="selectedIndex" [options]="listLevel"
                  (selectedOption)="handleDownSelect($event, 'level')"></app-select-dropdown>
                <span
                  *ngIf="formDetail.controls.level.hasError('required')&&(formDetail.controls['level'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Career</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formDetail.controls['career'].value" [title]="'Career'"
                  [selectedIndex]="selectedIndex" [options]="listCareer"
                  (selectedOption)="handleDownSelect($event, 'career')"></app-select-dropdown>
                <span
                  *ngIf="formDetail.controls.career.hasError('required')&&(formDetail.controls['career'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Choose picture</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="file" class="form-control input-lg" name="picture" formControlName="picture"
                  placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Age minimum</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="number" class="form-control input-lg" name="age_min" formControlName="age_min">
                <span
                  *ngIf="formDetail.controls.age_min.hasError('required')&&(formDetail.controls['age_min'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Age maximum</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="number" class="form-control input-lg" name="age_max" formControlName="age_max">
                <span
                  *ngIf="formDetail.controls.age_max.hasError('required')&&(formDetail.controls['age_max'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Introduce summary</label>
              <div class="input-include-error">
                <textarea type="textarea" class="form-control input-lg" formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!formDetail.valid">
                <i class="fas fa-plus-circle"></i> &nbsp;Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Members</h1>
    </div>
    <div [ngClass]="{'view': view}" class="modal-body">
      <form role="form" [formGroup]="formAddMember" (ngSubmit)="addMember()">
        <div [ngClass]="{'view': view}" class="col-md-12 row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label">Email or phone</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="text" class="form-control input-lg" name="member" formControlName="member">
              </div>
            </div>
          </div>
          <div class="col-md-4 btn-center">
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!formAddMember.valid">
                <i class="fas fa-pen-square"></i> &nbsp;Add member
              </button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-include-error">
              <span *ngIf="addMemberFaild">{{messageErrAddMember}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div [ngClass]="{'view': view}" class="modal-body container">
      <app-data-table [showSearch]=true [headers]="headers" [items]="listUser" [listSearch]=[0,1,2]
        (outputAction)="handleAction($event)"></app-data-table>
    </div>
  </div>
</div>
<app-alert-confirm [id]="'delete-member'" [message]="'Are you sure delete this member?'" (saveConfirm)="saveConfirm()" (cancelConfirm)="cancelConfirm()"></app-alert-confirm>
<app-loading></app-loading>