<div class="modal fade" id="modalResetPassForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <!-- Modal HTML Markup -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="!success" class="modal-header">
        <h1 class="modal-title">Đặt lại mật khẩu</h1>
      </div>
      <div *ngIf="!success" class="modal-body">
        <form role="form" [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
              <label class="control-label">E-Mail</label>
              <div>
                <input type="email" class="form-control input-lg" name="email" formControlName="email" value="">
              </div>
            </div>
            <div class="error-message">
              <i>{{message}}</i>
            </div>
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-success" [disabled]="!resetPassForm.valid">Đặt lại</button>
              </div>
            </div>
          </form>
      </div>
      <div *ngIf="success" class="modal-body">
          <label class="error-message">{{message}}</label>
          <a href="https://mail.google.com" target="_blank">Vui lòng kiểm tra email!</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<app-loading></app-loading>