<!-- Modal -->
<div class="modal " [id]="id" role="dialog" data-backdrop="static">
    <form novalidate [formGroup]="formGroup">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-body scrollable-menu">
                    <ng-content></ng-content>
                </div> 
                <div class="modal-footer">
                    <button *ngIf="true" (click)="cancelForm()" type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                    <button *ngIf="true" (click)="saveData()" class="btn btn-success">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>