<div class="container">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Create match</h1>
    </div>
    <div class="modal-body">
      <form role="form" [formGroup]="formAdd" (ngSubmit)="add()">
        <div class="col-md-12 row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Date</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <input type="date" class="form-control input-lg" name="" formControlName="date_of_match">
                <span
                  *ngIf="formAdd.controls.date_of_match.hasError('required')&&(formAdd.controls['date_of_match'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Time</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['time'].value" [title]="'Select Time'"
                  [selectedIndex]="selectedIndex" [options]="listTime"
                  (selectedOption)="handleDownSelect($event, 'time')"></app-select-dropdown>
                <span
                  *ngIf="formAdd.controls.time.hasError('required')&&(formAdd.controls['time'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Team</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['team'].value" [title]="'Select Team'"
                  [selectedIndex]="selectedIndex" [options]="listTeam"
                  (selectedOption)="handleDownSelect($event, 'team')"></app-select-dropdown>
                <span
                  *ngIf="formAdd.controls.team.hasError('required')&&(formAdd.controls['team'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Level</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['level'].value" [title]="'Level'"
                  [selectedIndex]="selectedIndex" [options]="listLevel"
                  (selectedOption)="handleDownSelect($event, 'level')"></app-select-dropdown>
                <span
                  *ngIf="formAdd.controls.level.hasError('required')&&(formAdd.controls['level'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Career</label>
              <span class="required"> *</span>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['career'].value" [title]="'Career'"
                  [selectedIndex]="selectedIndex" [options]="listCareer"
                  (selectedOption)="handleDownSelect($event, 'career')"></app-select-dropdown>
                <span
                  *ngIf="formAdd.controls.career.hasError('required')&&(formAdd.controls['career'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Gridiron</label>
              <div class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['gridiron'].value" [title]="'Select gridiron'"
                  [selectedIndex]="selectedIndex" [options]="listGridiron"
                  (selectedOption)="handleDownSelect($event, 'gridiron')"></app-select-dropdown>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Area</label>
              <span class="required"> *</span>
              <div [ngClass]="{'view': formAdd.controls['gridiron'].value}" class="input-include-error">
                <app-select-dropdown [nameSelect]="formAdd.controls['area'].value" [title]="'Area'"
                  [selectedIndex]="selectedIndex" [options]="listArea"
                  (selectedOption)="handleDownSelect($event, 'area')"></app-select-dropdown>
                <span
                  *ngIf="formAdd.controls.area.hasError('required')&&(formAdd.controls['area'].touched || errorForm)">Field
                  required</span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Invitation Summary</label>
              <div class="input-include-error">
                <textarea type="textarea" class="form-control input-lg" formControlName="invitation"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-2 btn-center">
            <div class="form-group">
              <button type="submit" class="btn btn-success" [disabled]="!formAdd.valid">
                <i class="fas fa-plus-circle"></i> &nbsp;Create
              </button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-include-error btn-center">
              <span *ngIf="addFaild">{{messageError}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">History matches</h1>
    </div>
    <div class="modal-body">
      <app-data-table [showSearch]=false [headers]="headers" [items]="listMatch" [listSearch]=[0,1,2,3,4]
        (outputAction)="handleAction($event)"></app-data-table>
    </div>
  </div>
</div>
<app-loading></app-loading>